@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling untuk halaman login */
.bg-brown-600 {
  background-color: #5d4037;
}

.hover\:bg-brown-700:hover {
  background-color: #4e342e;
}

.text-brown-600 {
  color: #5d4037;
}

.focus\:ring-brown-500:focus {
  --tw-ring-color: rgba(93, 64, 55, 0.5);
}

.focus\:border-brown-500:focus {
  border-color: #5d4037;
}

.hover\:text-brown-500:hover {
  color: #795548;
}
